*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border{
    border-radius: 2px;
    border: 1px solid transparent;
}

.border:hover{
    border-radius: 2px;
    border: 1px solid white;
}

.nav-logo{
    height: 50px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.amazonlogo{
    background-image: url("Images/amazonlogo.png");
    background-size: cover;
    height: 35px;
    width: 100%;
}

.nav-address{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add1{
    font-size: 11px;
    margin-left: 15px;
    color: #cccccc;
}

.add2{
    font-size: 17.66px;
}

.delivery-country{
    display: flex;
    align-items: center;
}

.nav-search{
    display: flex;
    /* width: 769px; */
    /* justify-content: space-evenly; */
    height: 38px;
    border: 2px solid transparent;
}

.nav-search:hover{
    border: 2px solid #F3A847;
    border-radius: 6px;
}

.search-select{
    background-color: #D4D4D4;
    color: #565656;
    text-align: center;
    font-size: 0.75rem;
    width: 50px;
    padding-left: 5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 665px;
    border: none;
    font-size: 1rem;
}

.search-icon{
    background-color: #F3A847;
    width: 45px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    display: flex;
    font-size: 1.2rem;
    color: #000000;
    align-items: center;
    justify-content: center;
}

.nav-country{
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
}

.navcountrylogo{
    background-image: url("Images/indialogo.jpg");
    background-size: cover;
    width: 28px;
    height: 10.2px;
}

.language{
    font-size: 15px;
}

.selectcountry{
    font-size: 2px;
    width: 15px;
    height: 10px;
    background: none;
    color: white;
    border: none;
}

.nav-account{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
}

.nav-accountp1{
    font-size: 13px;
    font-weight: 700;
    margin-left: 5px;
}

.nav-accountselect{
    font-weight: 700;
    font-size: 17px;
    color: white;
    background: none;
    border: none;
}
.order{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.returns{
    font-size: 13px;
}

.orders{
    font-size: 17px;
}

.cart{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.cartlogo{
    font-size: 25px;
}

.panel{
    display: flex;
    height: 39px;
    color: white;
    background-color: #232F3E;
    justify-content: space-evenly;
    align-items: center;
}

.panelall{
    font-size: 16px;
    font-weight: 500;
    height: 39px;
    display: flex;
    align-items: center;
    padding: 8px 9px;
}

.panelall p{
    padding-left: 5px;
}

.paneloptions{
    display: flex;
    width: 1030px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}

.paneloptions p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    padding: 8px 9px;
}

.panelimage{
    width: 400px;
}

.image{
    width: 400px;
    height: 39px;
}

.hero-section{
    background-image: url("Images/hero_image.jpg");
    background-size: cover;
    height: 260px;
}

.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #E3E6E6;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;
}

.box{
    height: 420px;
    width: 23%;
    background-color: white;
    margin-bottom: 1rem;
}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 25px;
    font-size: 0.85rem;
}

.box a{
    text-decoration: none;
}

.box2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 25px;
    font-size: 0.85rem;
}

.imgbox2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imgbox2 img{
    height: 5.44rem;
    margin: 5px;
}

.box3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 25px;
    font-size: 0.85rem;
}

.box4{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 25px;
    font-size: 0.85rem;
}

.imgbox4{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imgbox4 img{
    height: 5.44rem;
    margin: 5px;
}

.shop-section2{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 1rem;
    font-size: 0.85rem;
    margin-bottom: 1rem;
}

.s-s2h{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.s-s2h a{
    margin-left: 1rem;
    text-decoration: none;
}

.s-s2h a:hover{
    text-decoration: underline;
    color: #f77539eb;
}

.s-s2img{
    display: flex;
    justify-content: space-evenly;
}

.s-s2img img{
    height: 13.3rem;
    padding: 2rem;
}

.box a:hover{
    text-decoration: underline;
    color: #f77539eb;
}

.box5, .box6{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 25px;
    font-size: 0.85rem;
}

.imgbox5, .imgbox6{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imgbox5 img, .imgbox6 img{
    height: 5.44rem;
    margin: 5px;
}

.box7, .box8{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 25px;
    font-size: 0.85rem;
}

.imgbox7, .imgbox8{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imgbox7 img, .imgbox8 img{
    height: 5.44rem;
    margin: 5px;
}

.foot-panel1{
    height: 50px;
    background-color: #485769;
    color: white;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel1:hover{
    background-color: #485769e8;
}

.foot-panel2{
    background-color: #232F3E;
    height: 400px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 13rem;
}

.fbox{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-size: 0.95rem;
}

.fbox p{
    font-weight: bolder;
}

.fbox a{
    padding-top: 16px;
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
}

.fbox a:hover{
    text-decoration: underline;
}

.foot-panel3{
    background-color: #232F3E;
    height: 7rem;
    /* margin-top: 0.2px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel3 img{
    height: 2rem;
    margin-right: 5rem;
}

.fp3slanguage{
    background: none;
    color: white;
    padding: 7px 10px;
    margin-right: 0.85rem;
}

.fp3scountry{
    height: 2rem;
    width: 5rem;
    background: none;
    padding: 7px 10px;
    color: white;
}

.foot-panel4{
    background-color: #131A22;
    height: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.l1 a{
    color: #dfdfdff6;
    text-decoration: none;
    font-size: 0.75rem;
    margin-right: 7px;
}

.l1 a:hover{
    text-decoration: underline;
}

.l2 {
    color: #dfdfdff6;
    font-size: 0.75rem;
}